@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
