.contact {
  &_container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    background-color: rgba($color-grey-light-1, 0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    border-radius: 3px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contact {
  &_details {
    color: $color-grey-dark-3;

    ul {
      list-style: none;

      li {
        margin: 3px 0;
      }
    }

    ul:first-child {
      margin-bottom: 15px;
    }
    ul li:first-child {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
      border-bottom: 1px solid $color-secondary-dark;
    }
  }
}

textarea {
  resize: none;
  height: 110px;
}

input,
textarea {
  font-size: 16px;
  font-family: inherit;
  color: $color-primary-dark;
  padding: 1.5rem 2.5rem;
  border-radius: 2px;
  background-color: rgba($color-grey-light-2, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 400px;
  display: block;
  transition: all 0.3s;
  margin: 10px 0;
  border-bottom: 3px solid $color-secondary-dark;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    border-bottom: 3px solid $color-primary;
  }

  &:focus:invalid {
    border-bottom: 3px solid $color-secondary-dark;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark-2;
  }
}

@include sm {
  .contact {
    &_container {
      flex-direction: column;
      justify-content: space-around;
      width: 90vw;
      height: 100vh;
      padding: 5px;
    }
  }

  input,
  textarea {
    max-width: 310px;
    width: 100%;
  }
}
